@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply m-auto;
  }
  section {
    @apply pb-10;
  }
  h2 {
    @apply text-3xl;
    @apply text-center;
    @apply py-8;
    @apply mb-0;
    @apply font-light;
  }
  h3 {
    @apply text-left;
    @apply py-5;
    @apply mb-0;
    @apply text-2xl;
    @apply font-normal;
  }
  p {
    @apply mb-0;
    @apply text-sm;
    @apply font-light;
  }

  @media only screen and (min-width: 1280px) {
    section {
      @apply pb-14;
    }
    h2 {
      @apply text-6xl;
    }
    p {
      @apply leading-8;
    }
  }
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.hero {
  background-image: url(/public/assets/hero-mob.jpg);
  background-size: cover;
}

@media only screen and (min-width: 1280px) {
  .hero {
    background-image: url(/public/assets/hero-desktop.jpg);
  }
}
